@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

iframe {
  user-select: none;
}

/* GRID */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

html.framed .container {
  width: 100% !important;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

.col-1-sm {
  width: 8.33%;
}

.col-2-sm {
  width: 16.66%;
}

.col-3-sm {
  width: 25%;
}

.col-4-sm {
  width: 33.33%;
}

.col-5-sm {
  width: 41.66%;
}

.col-6-sm {
  width: 50%;
}

.col-7-sm {
  width: 58.33%;
}

.col-8-sm {
  width: 66.66%;
}

.col-9-sm {
  width: 75%;
}

.col-10-sm {
  width: 83.33%;
}

.col-11-sm {
  width: 91.66%;
}

.col-12-sm {
  width: 100%;
}

.hidden {
  display: none !important;
}

.hidden-sm {
  display: none;
}

.display-sm {
  display: none;
}

@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .display-sm {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .col-1-md {
    width: 8.33%;
  }

  .col-2-md {
    width: 16.66%;
  }

  .col-3-md {
    width: 25%;
  }

  .col-4-md {
    width: 33.33%;
  }

  .col-5-md {
    width: 41.66%;
  }

  .col-6-md {
    width: 50%;
  }

  .col-7-md {
    width: 58.33%;
  }

  .col-8-md {
    width: 66.66%;
  }

  .col-9-md {
    width: 75%;
  }

  .col-10-md {
    width: 83.33%;
  }

  .col-11-md {
    width: 91.66%;
  }

  .col-12-md {
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .col-1-lg {
    width: 8.33%;
  }

  .col-2-lg {
    width: 16.66%;
  }

  .col-3-lg {
    width: 25%;
  }

  .col-4-lg {
    width: 33.33%;
  }

  .col-5-lg {
    width: 41.66%;
  }

  .col-6-lg {
    width: 50%;
  }

  .col-7-lg {
    width: 58.33%;
  }

  .col-8-lg {
    width: 66.66%;
  }

  .col-9-lg {
    width: 75%;
  }

  .col-10-lg {
    width: 83.33%;
  }

  .col-11-lg {
    width: 91.66%;
  }

  .col-12-lg {
    width: 100%;
  }

  .hidden-md {
    display: none !important;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 80%;
  }

  .col-1-xl {
    width: 8.33%;
  }

  .col-2-xl {
    width: 16.66%;
  }

  .col-3-xl {
    width: 25%;
  }

  .col-4-xl {
    width: 33.33%;
  }

  .col-5-xl {
    width: 41.66%;
  }

  .col-6-xl {
    width: 50%;
  }

  .col-7-xl {
    width: 58.33%;
  }

  .col-8-xl {
    width: 66.66%;
  }

  .col-9-xl {
    width: 75%;
  }

  .col-10-xl {
    width: 83.33%;
  }

  .col-11-xl {
    width: 91.66%;
  }

  .col-12-xl {
    width: 100%;
  }
}

@media only screen and (min-width: 1904px) {
  .container {
    width: 80%;
    max-width: 1920px;
  }

  .col-1-xxl {
    width: 8.33%;
  }

  .col-2-xxl {
    width: 16.66%;
  }

  .col-3-xxl {
    width: 25%;
  }

  .col-4-xxl {
    width: 33.33%;
  }

  .col-5-xxl {
    width: 41.66%;
  }

  .col-6-xxl {
    width: 50%;
  }

  .col-7-xxl {
    width: 58.33%;
  }

  .col-8-xxl {
    width: 66.66%;
  }

  .col-9-xxl {
    width: 75%;
  }

  .col-10-xxl {
    width: 83.33%;
  }

  .col-11-xxl {
    width: 91.66%;
  }

  .col-12-xxl {
    width: 100%;
  }
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}
