html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

iframe {
  user-select: none;
}

/* GRID */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

html.framed .container {
  width: 100% !important;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

.col-1-sm {
  width: 8.33%;
}

.col-2-sm {
  width: 16.66%;
}

.col-3-sm {
  width: 25%;
}

.col-4-sm {
  width: 33.33%;
}

.col-5-sm {
  width: 41.66%;
}

.col-6-sm {
  width: 50%;
}

.col-7-sm {
  width: 58.33%;
}

.col-8-sm {
  width: 66.66%;
}

.col-9-sm {
  width: 75%;
}

.col-10-sm {
  width: 83.33%;
}

.col-11-sm {
  width: 91.66%;
}

.col-12-sm {
  width: 100%;
}

.hidden {
  display: none !important;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }

  .hidden-md {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    width: 80%;
    max-width: 1920px;
  }
}
