:root {
  --eth-blue: rgb(19, 115, 218);
  --eth-yellow: rgb(254, 205, 0);
  --eth-green-light: rgb(127, 178, 6);
  --eth-green: rgb(0, 150, 12);
  --eth-blue-dark: rgb(14, 77, 135);
}

.suburb-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.suburb-title {
  font-size: 60px;
  color: var(--eth-blue);
  font-weight: 500;
}

.suburb-input-container {
  position: relative;
}

.suburb-hint {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  margin-left: 30px;
  padding-top: 5px;
  position: absolute;
}

.suburb-list {
  position: absolute;
  background-color: #fff;
  list-style: none;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  z-index: 10;
  color: var(--eth-blue);
  font-size: 20px;
  border: 1px solid var(--eth-blue);
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.suburb-list li {
  cursor: pointer;
}

.suburb-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.suburb-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.suburb-option-district {
  font-size: 70%;
  color: rgba(0, 0, 0, 0.4);
}

.suburb-input {
  border: 0;
  /* border-bottom: 1px solid var(--eth-blue); */
  font-size: 48px;
  color: var(--eth-blue);
  margin-left: 30px;
  padding: 0 10px;
  line-height: 1;
  outline: none;
}

.category-scores-section {
  margin-top: 30px;
}

.title {
  font-size: 54px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--eth-blue);
}

.description {
  font-size: 20px;
}

.chart {
  margin-top: 40px;
}

.chart-metric-row {
  margin: 10px 0 30px 0;
}

.chart-scale {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 600;
  color: var(--eth-blue);
  padding: 0 5px;
}

.chart-scale-50 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-scale-avg-text {
  color: rgba(0, 0, 0, 0.3);
}

.chart-category {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-category img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.chart-category-image {
  width: 45px;
  height: 45px;
  margin-right: 30px;
  justify-content: center;
  text-align: center;
}

.chart-category-text {
  font-size: 20px;
}

.chart-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.chart-option-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.chart-option-item::after {
  content: "";
  display: block;
  width: 24px;
  height: 12px;
  background-image: url(assets/caret.svg);
  background-repeat: no-repeat;
  margin-top: 1px;
  margin-left: 8px;
  will-change: transform;
  transition: 0.25s;
}

.chart-option-item.active::after {
  transform: scaleY(-1);
}

.chart-indicator-col {
  order: 3;
}

.chart-metric-table-col,
.chart-policy-table-col {
  order: 4;
}

.chart-indicator {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.chart-indicator-bar {
  width: 100%;
  height: 19px;
  background-color: rgb(240, 240, 240);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.chart-indicator-value {
  width: 100%;
  position: absolute;
  text-align: right;
  top: 14px;
  font-size: 14px;
  font-weight: 500;
}

.chart-indicator-bar-fill {
  border-radius: 10px;
  border: 2px solid #fff;
  position: absolute;
  height: 19px;
  top: 0;
  width: 0%;
  will-change: transform;
  transition: width 0.8s ease-in-out;
}

.chart-indicator-median-bar-fill {
  position: absolute;
  width: 0%;
  will-change: transform;
  transition: width 0.8s ease-in-out;
  border-right: 3px solid rgba(0, 0, 0, 0.3);
  height: 15px;
  top: 2px;
}

.chart-indicator-median-value {
  width: 100%;
  position: absolute;
  text-align: right;
  top: 28px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  right: -10px;
}

.chart-indicator-bar-fill.blue {
  background-color: var(--eth-blue);
}

.chart-indicator-bar-fill.blue--dark {
  background-color: var(--eth-blue-dark);
}

.chart-indicator-bar-fill.yellow {
  background-color: var(--eth-yellow);
}

.chart-indicator-bar-fill.green--light {
  background-color: var(--eth-green-light);
}

.chart-indicator-bar-fill.green {
  background-color: rgb(0, 150, 12);
}

.chart-footer {
  margin-top: 20px;
}

.chart-footer-col {
  padding: 0 10px;
}

.chart-footer-title {
  font-size: 27px;
  font-weight: 600;
  color: var(--eth-blue);
  margin-top: 20px;
}

.chart-footer-text {
  font-size: 18px;
  color: rgb(85, 85, 85);
}

.chart-footer-link {
  margin-top: 20px;
}

.chart-footer-link a {
  font-size: 18px;
  font-weight: 600;
  color: var(--eth-blue);
}

.chart-metric-table,
.chart-policy-table {
  width: 100%;
  margin-top: 20px;
  border: 1px solid var(--eth-blue);
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.chart-metric-table a,
.chart-policy-table a {
  color: var(--eth-blue);
  font-weight: 500;
}

.chart-metric-table thead,
.chart-policy-table thead {
  /* border-bottom: 1px solid var(--eth-blue); */
  background-color: var(--eth-blue);
  color: #fff;
  height: 50px;
  font-weight: 500;
}

.chart-policy-table {
  border-color: var(--eth-green);
}

.chart-policy-table thead {
  background-color: var(--eth-green);
}

.chart-metric-table th,
.chart-policy-table th,
.chart-metric-table td,
.chart-policy-table td {
  text-align: left;
  padding: 10px;
}

.chart-metric-table td.chart-metric-table-value {
  /* text-align: right; */
}

/* Chart overview */
.overview-chart {
  position: relative;
}

.overview-chart-bg {
  width: 400px;
  height: 600px;
  background-image: linear-gradient(to bottom, #e2e2e2 0%, #efefef 100%);
  position: relative;
}

.overview-chart-circle-outer {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 100px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.overview-chart-circle-inner {
  width: 560px;
  height: 560px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 120px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.overview-chart-indicator {
  position: absolute;
  top: 80px;
  left: 180px;
  transform-origin: 50% 100%;
}

.overview-chart-indicator-inner {
  width: 440px;
  height: 220px;
  border: 0;
}

.overview-chart-indicator-inner::before {
  border-radius: 220px 220px 0 0;
  content: "";
  width: inherit;
  height: inherit;
  transform-origin: 50% 100%;
  transform: rotate(144deg);
  display: block;
}

.overview-chart-indicator.indicator-range-1 {
  transform: rotate(-144deg);
}

.overview-chart-indicator.indicator-range-1 .overview-chart-indicator-inner::before {
  background-color: var(--eth-yellow);
}

.overview-chart-indicator.indicator-range-2 {
  transform: rotate(-108deg);
}

.overview-chart-indicator.indicator-range-2 .overview-chart-indicator-inner::before {
  background-color: var(--eth-green-light);
}

.overview-chart-indicator.indicator-range-3 {
  transform: rotate(-72deg);
}

.overview-chart-indicator.indicator-range-3 .overview-chart-indicator-inner::before {
  background-color: var(--eth-green);
}

.overview-chart-indicator.indicator-range-4 {
  transform: rotate(-36deg);
}

.overview-chart-indicator.indicator-range-4 .overview-chart-indicator-inner::before {
  background-color: var(--eth-blue);
}

.overview-chart-indicator.indicator-range-5 {
  transform: rotate(0deg);
}

.overview-chart-indicator.indicator-range-5 .overview-chart-indicator-inner::before {
  background-color: var(--eth-blue-dark);
}

.overview-chart-indicator-white-line-outer {
  width: 443px;
  height: 443px;
  border-radius: 100%;
  border: 3px solid #fff;
  position: absolute;
  top: 77px;
  left: 178px;
}

.overview-chart-indicator-white-line-inner {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  border: 3px solid #fff;
  position: absolute;
  top: 160px;
  left: 260px;
}

.overview-chart-indicator-circle-value {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px solid var(--eth-blue);
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  top: 175px;
  left: 275px;
}

.overview-chart-indicator-bottom-mask {
  width: 500px;
  height: 225px;
  background-color: #fff;
  position: absolute;
  top: 300px;
  left: 150px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid transparent;
}

.overview-chart-indicator-range-label {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  color: var(--eth-blue);
}

.overview-chart-indicator-range-label.indicator-range-0 {
  top: 280px;
  left: 160px;
}

.overview-chart-indicator-range-label.indicator-range-20 {
  top: 150px;
  left: 195px;
}

.overview-chart-indicator-range-label.indicator-range-40 {
  top: 65px;
  left: 305px;
}

.overview-chart-indicator-range-label.indicator-range-60 {
  top: 65px;
  left: 470px;
}

.overview-chart-indicator-range-label.indicator-range-80 {
  top: 150px;
  left: 580px;
}

.overview-chart-indicator-range-label.indicator-range-100 {
  top: 280px;
  left: 625px;
}

.overview-chart-indicator-pointer {
  position: absolute;
  width: 400px;
  height: 170px;
  background-color: #efefef;
  clip-path: polygon(50% 0, 50% 0, 70% 100%, 30% 100%);
  transform: rotate(-90deg);
  transform-origin: bottom center;
  transition: transform 0.8s ease-in-out;
  top: 130px;
  left: 200px;
}

.overview-chart-liveability-score-container {
  position: absolute;
  top: 192px;
  left: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(112, 112, 112);
}

.overview-chart-liveability-score-value {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.1;
}

.overview-chart-liveability-score-label {
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
}

.overview-chart-population-container {
  position: absolute;
  width: 400px;
  top: 360px;
  left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-chart-population-value {
  font-size: 72px;
  line-height: 1.1;
  color: rgb(112, 112, 112);
}

.overview-chart-population-label {
  font-size: 40px;
  color: var(--eth-blue);
  line-height: 1;
}

.overview-table {
  margin-top: 30px;
}

.overview-table-title {
  font-size: 40px;
  margin-left: 10px;
  color: var(--eth-blue);
}

/* Overview Table */
.overview-metric-section {
  margin-bottom: 20px;
  margin-left: 10px;
}

.overview-metric-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--eth-blue);
  margin-bottom: 0px;
}

.overview-metric-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
}

.overview-metric-value {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  min-height: 30px;
  opacity: 0;
}

.overview-metric-value.show {
  transition: opacity 0.7s ease-in-out;
  opacity: 1;
}

.overview-metric-label {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: 768px) {
  .chart-metric-row {
    margin: 10px 0 20px;
  }

  .chart-indicator-col {
    order: initial;
  }

  .chart-metric-table-col,
  .chart-policy-table-col {
    order: initial;
  }

  .chart-indicator-bar-fill {
    top: 13px;
  }

  .chart-indicator-median-bar-fill {
    top: 15px;
  }

  .chart-footer {
    margin-top: 40px;
  }

  .chart-footer-title {
    margin-top: 0;
  }
}

@media (min-width: 1600px) {
  .overview-table {
    margin-top: 0;
  }

  .overview-table-title {
    line-height: 0;
    margin-bottom: 20px;
  }
}
